/* 
mat-toolbar{
    background-color:#f3efef;
    background-image: url(https://www.kajariaceramics.com/product-picture/GP02384_b.jpg);
    height: 80px;
}

.img{
    height: 55px;
    border-radius: 50%;
    margin-top: 1px;
    margin-left: 45px;
}
mat-sidenav{
    background:#ebe9e9;
    width: 180px;
    margin-top: -2em;
}
.sidebar{
    background:#3b3b3b;
    background-image: url(https://www.hafary.com.sg/cache_data/collections//r-500-500-60-user-data-collections-2985-16657-1653895255.jpg);
    color: rgb(15, 0, 0);
    width: 180px;
    height: 800px;
    margin-top: -3em;
    font-size: small;

}.home{
    margin-top: 2em;
    font-size: 1.5em;
    cursor: pointer;
    margin-left: 1em;
}
.body{
    background-image: url(https://img.freepik.com/free-photo/close-up-white-marble-texture-background_53876-63512.jpg?w=2000);
}



p:hover, h1:hover, a:hover {
    background-color: yellow;
  }
  #slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure:hover {
	animation-play-state: paused; 
}
#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
} */



.sm\:hover\:border-opacity-0:hover {
    --border-opacity: 0;
  } 

.navbar-expand {

   
   
      @include media-breakpoint-up($next) {
        flex-wrap: nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            padding-right: $navbar-nav-link-padding-x;
            padding-left: $navbar-nav-link-padding-x;
          }
        }

        .navbar-nav-scroll {
          overflow: visible;
        }

        .navbar-collapse {
          display: flex !important; 
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
